{% extends "base.html" %}

{% block content %}
<h2>Bonjour {{ user.username }},</h2>

<hr>
{% for book in books %}
  {% if book.cover_url %}
    <img src="{{ book.cover_url }}"><br>
  {% else %}
    <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"><br>
  {% endif %}

  <h2>{{ book.title }}</h2>
  <h3>{{ book.author }}</h3>

  {% if book.borrowed_by %}
    Emprunté par {{ book.borrowed_by.username }} le {{ book.borrowed_time|showtime }}
  {% else %}
    Libre
  {% endif %}
  <hr>
{% endfor %}

<video id="preview" width="300" height="200"></video>
<script src="https://unpkg.com/@zxing/browser@latest"></script>
<script>
    window.addEventListener('load', () => {
        const previewElem = document.getElementById('preview');
        const codeReader = new ZXingBrowser.BrowserMultiFormatReader();
        codeReader.decodeFromConstraints({ video: { facingMode: 'environment' } }, previewElem, (result, err, controls) => {
            if (result) {
                controls.stop();
                const text = result.text || result.getText();
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = '/books/isbn';
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'isbn';
                input.value = text;
                form.appendChild(input);
                document.body.appendChild(form);
                form.submit();
                showLoader();
            }
        });
    });
</script>
<form action="/books/isbn" method="POST">
    <input type="number" name="isbn" placeholder="ISBN" pattern="[\d \-]+" required>
    <button type="submit">Valider</button>
</form>
<a href="/logout" class="camera-icon">&#128682;</a>
{% endblock %}

