{% extends "base.html" %}

{% block content %}
<h2>Bonjour {{ user.username }},</h2>

<hr>
{% for book in books %}
  {% if book.cover_url %}
    <img src="{{ book.cover_url }}"><br>
  {% else %}
    <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"><br>
  {% endif %}

  <h2>{{ book.title }}</h2>
  <h3>{{ book.author }}</h3>

  {% if book.borrowed_by %}
    Emprunté par {{ book.borrowed_by.username }} le {{ book.borrowed_time|showtime }}
  {% else %}
    Libre
  {% endif %}
  <hr>
{% endfor %}

<form id="photoForm" action="/books/photo" method="POST" enctype="multipart/form-data">
    <input type="file" id="camera" name="photo" accept="image/*" capture="environment" class="hidden-input">
    <label for="camera" class="camera-icon">&#128247;</label>
</form>
<script>
    document.getElementById('camera').addEventListener('change', function(event) {
        const form = document.getElementById('photoForm');
        if (event.target.files.length > 0) {
            form.submit();
            showLoader();
        }
    });
</script>
<form action="/books/isbn" method="POST">
    <input type="number" name="isbn" placeholder="ISBN" pattern="[\d \-]+" required>
    <button type="submit">Valider</button>
</form>
<a href="/logout" class="camera-icon">&#128682;</a>
{% endblock %}

