{% extends "base.html" %}

{% macro choose_student(book, users) %}
<form method="GET" action="/books/borrow/{{ book.isbn }}">
  Transférer à:
  <select name="force_user" onchange="this.form.submit()">
    {% if not book.borrowed_by %}
      <option value="" selected>Libre</option>
    {% endif %}

    {% for user in users %}
      {% if user.username != 'admin' %}
        <option value="{{ user.username }}" {% if user == book.borrowed_by %}selected{% endif %}>{{ user.username }}</option>
      {% endif %}
    {% endfor %}
  </select>
</form>
{% endmacro %}

{% block content %}
<h2>Bonjour Maîtresse</h2>

<hr>
{% for student, books in books_by_student.items() %}
  <h3>🧑‍🎓{{ student.username if student.username else "Libre" }}</h3>
  <hr>
  {% for book in books %}
    {% if book.cover_url %}
      <img src="{{ book.cover_url }}"><br>
    {% else %}
      <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"><br>
    {% endif %}

    <h2>{{ book.title }}</h2>
    <h3>{{ book.author }}</h3>

    {% if book.borrowed_by %}
      Emprunté par {{ book.borrowed_by.username }} le {{ book.borrowed_time|showtime }}
      <br>
      {{ choose_student(book, users) }}
      <a href="/books/return/{{ book.isbn }}">Rendu</a>
      <form method="POST" action="/books/delete/{{ book.isbn }}" style="display:inline" onsubmit="return confirm('Supprimer ce livre ?')">
        <button type="submit">🗑️ Supprimer</button>
      </form>
    {% else %}
      {{ choose_student(book, users) }}
      <form method="POST" action="/books/delete/{{ book.isbn }}" style="display:inline" onsubmit="return confirm('Supprimer ce livre ?')">
        <button type="submit">🗑️ Supprimer</button>
      </form>
    {% endif %}
    <hr>

  {% endfor %}
{% endfor %}

<video id="preview" width="300" height="200"></video>
<script src="https://unpkg.com/@zxing/browser@latest"></script>
<script>
    window.addEventListener('load', () => {
        const previewElem = document.getElementById('preview');
        const codeReader = new ZXingBrowser.BrowserMultiFormatReader();
        codeReader.decodeFromConstraints({ video: { facingMode: 'environment' } }, previewElem, (result, err, controls) => {
            if (result) {
                controls.stop();
                const text = result.text || result.getText();
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = '/books/isbn';
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'isbn';
                input.value = text;
                form.appendChild(input);
                document.body.appendChild(form);
                form.submit();
                showLoader();
            }
        });
    });
</script>
<a href="/" class="camera-icon">🔙</a>
{% endblock %}
