{% extends "base.html" %}

{% block content %}
<h2>Connexion</h2>
<form id="photoForm" action="/login/photo" method="POST" enctype="multipart/form-data">
    <input type="file" id="camera" name="photo" accept="image/*" capture="environment" class="hidden-input">
    <label for="camera" class="camera-icon">&#128247;</label>
</form>
<script>
    document.getElementById('camera').addEventListener('change', function(event) {
        const form = document.getElementById('photoForm');
        if (event.target.files.length > 0) {
            form.submit();
            showLoader();
        }
    });
</script>
{% endblock %}

