{% extends "base.html" %}

{% block content %}
{% for user in users %}
    <div class="user-card">
        <div class="user-info">
            <h2>{{ user.username }}</h2>
            <p>Emprunter ou rendre un livre:</p>
            <p>
            &#128247; Scanner sa carte<br>
            &#128247; Photographier le code barre du livre<br>
            &#128682; Se déconnecter <br>
            </p>
            {% if user.username != 'admin' %}
            <form method="post" action="/users/delete/{{ user.username }}" onsubmit="return confirm('Supprimer l\'utilisateur {{ user.username }} ?');">
                <button type="submit" style="background-color:#e74c3c">🗑️ Supprimer</button>
            </form>
            {% endif %}
        </div>
        <div class="user-qr">
            <img src="{{ {"user":user.username, "passwd":user.username}|to_qr_code }}" alt="QR Code for {{ user.username }}">
        </div>
    </div>
{% endfor %}
  <a href="/register" class="camera-icon">+</a>
  <br>
  <a href="/" class="camera-icon">🔙</a>
{% endblock %}
